*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100vw;
    height: 100vh;
}

.main-container{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
}

span {
display: flex;
    justify-content: center;


    border: 1px solid black;
    width: 20rem;
    height: 10rem;
    margin: 20px;


}

img{
    -webkit-filter: grayscale(100%);
    position: relative;
    top:5px;
    width: 300px;
    border: 1px solid black;

}

span:first-child{
    transform: rotate(12deg) translate(10px, 1px);
}
span:nth-child(2){
    transform: rotate(16deg) translate(10px, 1px);
}
span:nth-child(3){
    transform: rotate(13deg) translate(10px, 1px);
}
span:last-child{
    transform: rotate(336deg) translate(10px, 1px);
}