*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100vw;
    height: 100vh;
}

.main-container{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 80vw;
    height: 80vh;
    position: relative;
    overflow: hidden;

}
.main-container span{
    display: flex;
    justify-content: center;
    align-items: center;
}
span {
display: flex;
    justify-content: center;
    border: 1px solid black;
    width: 20rem;
    height: 10rem;

    }

img{
    filter: grayscale(90%);
    position: relative;
    bottom:5px;
    width: 300px;
    border: 1px solid black;

}

span:first-child{
    transform: rotate(12deg) translate(10px, 1px);
    z-index: 6;
    position: absolute;
     top:120px;
    left: 400px;
    opacity:0.70;
}
span:nth-child(2){
    transform: rotate(-11deg) translate(10px, 1px);
    z-index: 5;
    position: absolute;
    top:250px;
    left: 400px;
    opacity:0.70;
}

span:nth-child(3){
    transform: rotate(13deg) translate(10px, 1px);
    z-index: 3;
    position: absolute;
    top: 380px;
    left: 400px;
    opacity:0.70;
}
span:last-child{
    transform: rotate(345deg) translate(10px, 1px);
    z-index: 2;
    position: absolute;
    top:540px;
    left:400px;
    opacity:0.70;
}

@media (max-width: 768px) {
.main-container{
    width: 100vw;
    height: 60vw;
}
}