*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100vw;
    height: 100vh;
}

.main-container{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 80vw;
    height: 80vh;
    position: relative;
    overflow: hidden;

}
.main-container span{
    display: flex;
    justify-content: center;
    align-items: center;
}
span {
display: flex;
    justify-content: center;
    border: 1px solid black;
    width: 20rem;
    height: 10rem;

    }

img {
    filter: grayscale(90%);
    position: relative;
    bottom: 5px;
    width: 300px;
    border: 1px solid black;
    opacity: 0.70;
    transition: 2s;
    z-index: auto;

}
img:hover{
    filter: grayscale(0);
}

span:first-child{
    transform: rotate(12deg) translate(10px, 1px);
    z-index: 6;
    position: absolute;
     top:12%;
    left: 40%;

}
span:nth-child(2){
    transform: rotate(-11deg) translate(10px, 1px);
    z-index: 5;
    position: absolute;
    top:25%;
    left: 40%;

}

span:nth-child(3){
    transform: rotate(13deg) translate(10px, 1px);
    z-index: 3;
    position: absolute;
    top: 38%;
    left: 40%;

}
span:last-child{
    transform: rotate(345deg) translate(10px, 1px);
    z-index: 2;
    position: absolute;
    top:55%;
    left:40%;

}
span:first-child:hover{
    transform:scale(1.5);
    opacity:1;
    transition: 3s;
}

span:nth-child(2):hover{
    transform:scale(1.5);
    opacity:1;
    transition: 3s;
}
span:nth-child(3):hover{
    transform:scale(1.5);
    opacity:1;
    transition: 3s;
    z-index: 7;
}
span:last-child:hover{
    transform:scale(1.5);
    opacity:1;
    transition: 3s;
    z-index: 7;
}

@media (max-width: 768px) {
.main-container{
    width: 100vw;
    height: 60vw;
}}

